# .coveragerc to control coverage.py
[run]
branch = True
source =
    .
    src
omit =
    test_*.py
    *_test.py
    *_http.py
    http_tests/helper.py
    src/server.py
    src/routes/helper.py
    src/base/helper.py
    src/data/helper.py
    tests/helper.py
    src/passwordreset/config_parser.py
    src/passwordreset/password_reset.py
